@model IEnumerable<Commande>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Commandes</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Etat</th>
        <th>Montant</th>
        <th>Action</th>
    </tr>

@foreach (var c in Model)
{
    <tr>
        <td>@c.Id</td>
        <td>@c.DateCommande</td>
        <td>@c.Etat</td>
        <td>@c.Montant FCFA</td>
        <td>
            @if (c.Etat != "Terminée")
            {
                <a class="btn confirm-action" href="/Gestionnaire/Terminer/@c.Id">
                    Terminer
                </a>
            }
        </td>
    </tr>
}
</table>
